{% extends "iot/base.html" %}

{% block content %}
<h1>{{ city.name }}</h1>

<p><b>Latitude:</b> {{city.latitude}}</p>
<p><b>Longitude:</b> {{city.longitude}}</p>
<p><b>Radius:</b> {{city.radius}}</p>

<h2>Devices at {{ city.name }}</h2>

{% for device_type, device_list in device_lists.items %}

{% if device_list %}
    {% for device_obj in device_list %}
    <ul>
        <li><a href = "{% url 'iot:device_detail' city.accountHolder_id  device_obj.accountHolder_id %}">{{ device_obj.get_name }} at ({{ device_obj.latitude }}, {{ device_obj.longitude }})</a></li>
    </ul>
    {% endfor %}
{% else %}
    <p>No {{ device_type }}.</p>
{% endif %}

{% endfor %}
{% endblock %}